h1{
	font-size: 5em !important;
}

h1,h2,h3,h4,h5,h6{
	margin: 0 !important;
}

.rosa{
	color: #EE82EE !important;
}
.header{
	position: absolute;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.fixed{
	position: fixed !important;
}

.middle{
	position: absolute;
	top:0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	margin-top: auto;
	height: 75%;
}

.dos{
	background: -webkit-linear-gradient(top, #3C78D8 0%,  #D83C3D 100%);
}

.tres{
	background-color: #D83C3D;
	top:200% !important;
}

.brand-logo,.nav-wrapper,nav{
	transition: .4s;
}

.boton{
	background-color: #3E8CE4 !important;
}
.boton2{
	background-color: #25F28E !important;
}