{%extends 'base.html'%}

{%block titulo%}
	Login
{%endblock titulo%}

{%block content%}
	
	{%if form.errors%}
		<p>Tu usuario y contraseña no coinciden, intenta de nuevo</p>
	{%else%}
		<p>Ingresa con tu nombre de usurio y contraseña</p>
	{%endif%}
		
	<div class="col s12">
		<p class="col s12">O inicia tu sesión con</p> 
		<a href="{%url 'social:begin' 'facebook'%}" class="btn col s6 indigo accent-4">Facebook</a>
		<a href="{%url 'social:begin' 'twitter'%}" class="btn col s6 blue lighten-2">Twitter</a>
	</div>
	<div class="login-form">
		<form action="{%url 'login'%}" method="post">
			{%csrf_token%}
			{{form.as_p}}
			<input type="hidden" name="next" value="{{next}}">
			<input type="submit" class="btn" value="Iniciar Sesion">
		</form>
		<p>O registrate <a href="{%url 'registro'%}">aquí</a></p>
	</div>

{%endblock content%}