<!DOCTYPE html>
{%load static%}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>
		{%block titulo%}
			EasyClass | Preguntas
		{%endblock titulo%}
	</title>
	<link rel="stylesheet" href="{%static 'css/main.css'%}">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Bungee+Shade" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	{%block links%}
	
	{%endblock links%}
	<style>
		
		{%block styles%}
			
		{%endblock styles%}

	</style>
</head>
<body class="grey lighten-2">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper indigo darken-1">
				<a href="{%url 'posts:list'%}" class="brand-logo">EasyClass</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#!">Inicio</a></li>
					<li><a href="{%url 'posts:nuevo'%}">Nuevo</a></li>
					{%if request.user.is_authenticated%}
						<li><a href="{%url 'perfil'%}">Dashboard</a></li>
						<li><a href="{%url 'logout'%}">Cerrar Sesión de {{request.user.username.title}}</a></li>
					{%else%}
						<li><a href="{%url 'login'%}">Iniciar Sesión</a></li>
					{%endif%}
				</ul>
			</div>
		</nav>
	</div>
	{%block header%}

	{%endblock header%}
	<section class="section">
		<article class="container white row" style="">
			{%block content%}
				
			{%endblock content%}
		</article>
	</section>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> 

	<script>
		
		{%block scripts%}

		{%endblock scripts%}
	</script>

</body>
</html>