{%extends 'base.html'%}

{%block styles%}
	.title{
		font-family: 'Bungee Shade', cursive;
	}

	.cuerpo{			
		font-family: 'Shadows Into Light', cursive;
	}
{%endblock styles%}

{%block header%}
<div class="parallax-container">
  <h1 class="title">{{post.titulo}}</h1><div class="parallax"><img src="/media/{{post.imagen}}"></div>
</div>
{%endblock header%}

{%block content%}
	<span>Tags: 
	{% for t in post.tags.all %}
		<div class="chip">{{t.name}}</div>	
	{% endfor %}

	</span>
	<p>Por: <b>{{post.autor}}</b></p>
	<p class="flow-text cuerpo">
		{{post.cuerpo}}
	</p>

	<form action="." method="post">
		<div class="chip">
			<img src="{{request.user.profile.avatar.url}}" alt="">
			{{request.user.username}}
		</div>	
		<div class="input-field">
			{%csrf_token%}
			{{comment_form}}
			<input type="submit" class="btn">
		</div>
	</form>

	<div class="container row col s12">
		<h2>Todos los comentarios:</h2>
		{%for c in post.comentarios.all%}	
			<div class="card grey lighten-2 col s12">
				<div class="card-content">
					<span class="card-title"><div class="chip"><img src="{{c.autor.profile.avatar.url}}"> {{c.autor.username}}<br>{{c.fecha}}</div></span>
					<p>
						{{c.cuerpo}}
					</p>
				</div>
			</div>	
		{%endfor%}
	</div>

	<div class="container row col s12">
		<h3>Tal vez te interesen:</h3>
		{% for p in posts_similares %}
			
			<div class="col s12 m4">
				<div class="card grey lighten-4 hoverable">
					<div class="card-image waves-effect waves-block">
						<img src="{{p.imagen.url}}">
						<span class="card-title">
							<a href="{{p.get_absolute_url}}" class="white-text">{{p.titulo}}</a>
						</span>
					</div>
					<div class="card-content">
						<p>Fecha de la publicacion: <b> {{p.fecha}} </b> </p>
						<p>Autor de la publicacion: <b> {{p.autor.username}} </b> </p>
					</div>
					<div class="card-action">
						<a href="{{p.get_absolute_url}}">Ver Más</a>
						<a href="#!" class="activator">Ver Tags</a>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Tags<i class="material-icons right">close</i></span>
						{% for t in p.tags.all %}
							<a href="{%url 'posts:list_tag' t.slug%}">{{t.name}}</a>
							{% if not forloop.last %}
								,
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
{%endblock content%}

<section class="section">
	<article class="container">

	</article>
</section>

{%block scripts%}
$(document).ready(function(){
  $('.parallax').parallax();
});
{%endblock scripts%}

