{%extends 'base.html'%}

{% block titulo%}
	Inicio
{% endblock titulo%}

{%block content%}
	<h1>Todos los Posts</h1>

	{%for p in posts%}
		<div class="col s12 m6">
			<div class="card grey lighten-4 hoverable">
				<div class="card-image waves-effect waves-block">
					<img src="{{p.imagen.url}}">
					<span class="card-title">
						<a href="{{p.get_absolute_url}}" class="white-text">{{p.titulo}}</a>
					</span>
				</div>
				<div class="card-content">
					<p>Fecha de la publicacion: <b> {{p.fecha}} </b> </p>
					<p>Autor de la publicacion: <b> {{p.autor.username}} </b> </p>
				</div>
				<div class="card-action">
					<a href="{{p.get_absolute_url}}">Ver Más</a>
				</div>
			</div>
		</div>
	{%empty%}
		<h3>No hay posts</h3>
	{%endfor%}
{%endblock content%}