{%extends 'base.html'%}
{%load posts_tags%}

{% block titulo%}
	Inicio
{% endblock titulo%}

<div class="row">
	
</div>

{%block content%}
	{%todos_tags%}
	<h1 class="col s12">Todas las preguntas</h1>
	{% if tag %}
		<h2 class="col s12">Filtrados con tag: {{tag}}</h2>
	{% endif %}

	{%for p in posts%}
		<div class="col s12 item m4">
			<div class="card grey lighten-4 hoverable">
				<div class="card-image waves-effect waves-block">
					<img src="{{p.imagen.url}}">
					<span class="card-title title">
						<a href="{{p.get_absolute_url}}" class="white-text">{{p.titulo}}</a>
					</span>
				</div>
				<div class="card-content">
					<p>Fecha de la publicacion: <b> {{p.fecha}} </b> </p>
					<p>Autor de la publicacion: <b> {{p.autor.username}} </b> </p>
				</div>
				<div class="card-action">
					<a href="{{p.get_absolute_url}}">Ver Más</a>
					<a href="#!" class="activator">Ver Tags</a>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Tags<i class="material-icons right">close</i></span>
					{% for t in p.tags.all %}
						<a href="{%url 'posts:list_tag' t.slug%}">{{t.name}}</a>
						{% if not forloop.last %}
							,
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{%empty%}
		<h3>No hay posts</h3>
	{%endfor%}
{%endblock content%}

{%block scripts%}
	$('.row').masonry({
	  // set itemSelector so .grid-sizer is not used in layout
	  itemSelector: '.col',
	  // use element for option
	  columnWidth: '.item',
	  percentPosition: true
	})
{%endblock scripts%}